/* Colors */
$main-color: #C49D74;
$main-dark-color: #373737;

/* Font sizes */
$paragraph-font-size: 16px;

/* Margins */
$section-margin: 40px;
$element-margin: 20px;

/* Paddings */
$section-padding: 40px;
$element-padding: 20px;

/* Line height */
$line-height: 1.5;