button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $main-color;
    padding: 15px 30px;
    font-size: 14px;
    color: white;
    border: none;
    width: auto;
    border-radius: 15px;
    margin: 20px auto;
    text-transform: uppercase;
    font-weight: bold;
    &:hover {
        transition: 0.3s ease;
        background-color: darken($main-color, 10%);
        cursor: pointer;
    }
}