.headings {
    text-transform: uppercase; 
    margin-bottom: 40px;

    h1 {
        color: black;
        font-size: 30px;
        margin-bottom: 10px;
        margin-top: 0;
        font-weight: bold;
    }  

    h3 {
        font-size: 18px;
        color: rgb(200, 200, 200);
    }
}