#services {

    .icon-intro {
        margin: $section-margin 0;
        border-left: 1px solid rgb(200, 200, 200);
        
        &:last-of-type {
            border-right: 1px solid rgb(200, 200, 200);
        }
        
        i {
            color: $main-color;
            font-size: 60px;
            margin-bottom: $element-margin;
        }
    }
    
}