#projects {
    background-color: whitesmoke;

    .container-flex {
        padding: $section-padding;

        .row {
            justify-content: center;
            margin-bottom: $section-margin;

            @media(max-width: 992px) {
                margin-bottom: 0;
            }

            &:first-of-type, &:last-of-type {
                margin-bottom: 0;
            }

            .layer {
                @media(max-width: 992px) {
                    padding: 0;
                }
            }
        }
        
        
        .pic {
            @media(max-width: 992px) {
                margin-top: $element-margin;
            }
        }

        button {
            margin-top: $section-margin;
        }
    }
}